@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #126180;
  margin: 0px;
  background-size: 245px 380px;
  background-position: right top;
  background-repeat: repeat-y;
  text-align: center;
  margin-top: 30px;
  background-image: url("../img/bg.webp");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0px;
  color: #ff9933;
  text-shadow: 2px 2px #126180;
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  margin: 0px;
}

table {
  background-color: rgba(255, 255, 255, 0.95)	;
  margin: 10px;
  padding: 5px;
  border: 1px solid #126180;
  border-spacing: 0px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
  
th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #fdd9a0;
  color: #333333;
  text-align: center;
}
  
td {
  padding: 5px 10px;
}

footer {
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #000000;
}