body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fff3e09a;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff3e0;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #d81b60;
    text-align: center;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
    color: #6a1b9a;
}

p {
    font-size: 16px;
    color: #4e342e;
}

footer {
    background-color: #fff3e0;
    color: black;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
    font-size: 14px;
}
